*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.clima-search{
  padding: 20px;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.s{
  color: rgb(96, 94, 94);
}
.clima{
  display: flex;
  justify-content: center;
}
.clima-content{
  width: 350px;
  height: 450px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(8, 102, 108);
  justify-content: center;
  align-items: center;
}
.country{
  padding: 5px;
  background-color: aliceblue;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  font-weight: 800;
}
.loc{
  font-size: 1.3rem;
}
.location{
  display: flex;
  align-items: center;
  gap: 10px;
}
.weather-icon{
 
}