*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.clima-search{
  padding: 20px;
  display: flex;
  width: 500px;
  border-radius: 5px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.clima-search > form > input {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 6px;
}
   
.s{
  color: rgb(249, 249, 249);
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(62, 61, 61);
  cursor: pointer;
}
.clima{
  display: flex;
  justify-content: center;
}
.clima-content{
  width: 350px;
  height: 450px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(8, 102, 108);
  justify-content: center;
  align-items: center;
}
.country{
  padding: 5px;
  background-color: aliceblue;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  font-weight: 800;
}
.loc{
  font-size: 1.3rem;
}
.location{
  display: flex;
  align-items: center;
  gap: 10px;
}
.weather-icon{
}