*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container{
  margin-top: 50px;
  background-color:  rgb(59, 158, 185);
  border-radius: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 0px 1px rgb(24, 83, 100);
}
.erro{
  margin-top: 10px;
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  background-color:  rgb(32, 126, 152);
  box-shadow: 5px 5px 0px 1px rgb(24, 83, 100);
}
.erro > h1{
  margin-bottom: 8px;
}
form{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:5px;
}

form > button{
  border: none;
  background-color:rgb(59, 158, 185) ;
}
.clima-search{
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 550px;
  border-radius: 5px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.clima-search > form > input {
  border: none;
  width: 250px;
  border: 0px solid #333;
  border-radius: 5px;
  padding: 9px;
}
   
.s{
  color: rgb(249, 249, 249);
  padding: 4.5px;
  
  background-color: rgb(62, 61, 61);
  cursor: pointer;
  background-color: rgb(46, 133, 157);
  border-radius: 5px;
  box-shadow: 2px 3px 0px 1px rgb(24, 83, 100);
  padding: 5px;
}
.clima{
  display: flex;
  justify-content: center;
}
.clima-content{
  width: 350px;
  height: 420px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(59, 158, 185);
  
  justify-content: center;
  align-items: center;
}
.country{
  padding: 5px;
  background-color: aliceblue;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
}
.loc{
  font-size: 1.7rem;
}
.estado{
  margin-top: 5px;
  font-size: 1.2rem;
}
.location{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
 
}

.weather{
  display: flex;
  font-size: 2.6rem;
  font-weight: 700;
  background-color: rgb(46, 133, 157);
  border-radius: 5px;
  box-shadow: 2px 3px 0px 1px rgb(24, 83, 100);
  padding: 7px 20px 7px 20px;
}

.min-max{
  display: flex;
  justify-content: space-between;
}
.outrasInfo-cont{
  padding: 5px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-icon{
  
  margin-top: auto;
}

.wind,.umidade{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.umidade:hover{
  scale: 1.2;
  box-sizing: 2px 2px 2px 2px darkgrey;
}
.wind:hover{
  scale: 1.2;
  box-sizing: 2px 2px 2px 2px darkgrey;
}
.data{
  gap: 5px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.w,.u{
  font-size: 2.5rem;
}

.km{
  font-size: 0.6rem;
}

.about{
  width: 90px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3px;
  padding:5px 10px;
  box-shadow: 0px 3px 0px 0px rgb(24, 83, 100);
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.3s;
  background-color: rgb(36, 121, 145);
}