*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.clima-search{
  padding: 20px;
  display: flex;
  width: 500px;
  border-radius: 5px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.clima-search > form > input {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px;
}
   
.s{
  color: rgb(249, 249, 249);
  padding: 4.5px;
  border-radius: 4px;
  background-color: rgb(62, 61, 61);
  cursor: pointer;
}
.clima{
  display: flex;
  justify-content: center;
}
.clima-content{
  width: 350px;
  height: 450px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(18, 128, 136);
  box-shadow: 7px 7px 4px 2px #413f3f;
  justify-content: center;
  align-items: center;
}
.country{
  padding: 5px;
  background-color: aliceblue;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  font-weight: 800;
}
.loc{
  
  font-size: 1.7rem;
}

.location{
  display: flex;
  align-items: center;
  margin-top:auto;
  gap: 10px;
}
.weather{
  font-size: 2.4rem;
}
.outrasInfo-cont{
  padding: 20px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-icon{
  margin-top: 40px;
}

.wind,.umidade{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
}
.wind,.umidade > p{
  font-size: 1.1rem;
}
.w,.u{
  font-size: 2.5rem;
}